.ILBcard {
    width: 100%;
    padding: 6rem 1rem;
    background-color: #000;
  }
  
  .card-containerILB {
    max-width: 50%;
    margin: auto;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(1, 1fr);
  }
  
  .card-containerILB .cardILB {
    border: 1px solid #eee;
    color: #eee;
  }
  
  .cardILB {
    margin-top: 4rem;
    text-align: center;
    padding: 1rem;

    height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  .cardILB h3 {
    font-size: 1.4rem;
    padding: 1rem;
  }

  .cardILB table {
      width: 100%;
      padding: 1rem;
  }

  .cardILB table tr {
      border: solid red;
  }
  
  @media screen and (max-width: 980px) {
    .card-containerILB {
      max-width: 90%;
      margin: auto;
      grid-template-columns: 1fr;
    }
  }
  