.cprofilecard {
    width: 100%;
    padding: 6rem 1rem;
    background-color: #000;
  }
  
  .card-containerCPC {
    max-width: 60%;
    margin: auto;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(1, 1fr);
  }
  
  .card-containerCPC .cardCPC {
    border: 1px solid #eee;
    color: #eee;
  }
  
  .cardCPC {
      margin-top: 4rem;
    text-align: center;
    padding: 1rem;
  }
  
  .cardCPC .btn:hover {
    background-color: #141414;
  }
  
  .cardCPC h3 {
    font-size: 1.4rem;
    padding: 1rem;
  }
  
  .cardCPC .barCPC {
    border-bottom: 1px solid #eee;
    width: 70%;
    margin: 0.2rem auto 1.5rem;
    display: block;
  }
  
  .brCPC {
      content: "a";
      display: block;
      margin-bottom: 1rem;
  }
  
  .cardCPC .btn {
      width: 90%;
  }
  
  @media screen and (max-width: 980px) {
    .card-containerCPC {
      max-width: 90%;
      margin: auto;
      grid-template-columns: 1fr;
    }
  }
  